@charset "utf-8";
/* CSS Document */
		*{box-sizing: border-box}
		body {font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}
		
header{background-color:#ADBBC8; text-align: center;padding: 5px; color: white;font-size: 25px}
		
nav{float:left; background-color: antiquewhite;padding: 0px;margin: 0px;width: 100%}
		
ul{list-style-type: none;padding: 0px;margin: 0px}
		
li{float: left;text-align:center;}
		
a{display: block;padding: 7px; background-color: antiquewhite}
		
a:hover{background-color: darksalmon;color: white}
		
article {list-style-type: none; background-color: white}

aside{float: center;}
		
footer {text-align: center; background-color: aliceblue; padding: 4px}
